<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="FGF_Finanzas.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>VitalPet</title>

    <link href="Content/Estilos.css" rel="stylesheet" />
    <script src='<%= ResolveUrl("~/Scripts/scripts.js?v=" + DateTime.Now.Ticks) %>' type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <header>
            <nav class="navbar">

                <div class="navbar-logo">
                    <img src="Content/logoVitalPet.png" class="logoVitalPet" alt="Logo" />
                    <a href="/Default.aspx">VitalPet</a>
                </div>

                <ul class="navbar-menu" id="nav-menu">
                    <li><a href="/Login.aspx">Iniciar sesión</a></li>
                    <li><a href="/Registrarse.aspx">Registrarse</a></li>
                    <li id="Admin" runat="server"><a href="BitacoraEventos.aspx">Administrador</a></li>
                    <li id="Cliente" runat="server"><a href="#">Cliente</a></li> 
                    <li id="WebMaster" runat="server"><a href="Backup-Restore.aspx">Web Master</a></li>
                    <% if (FGF_Finanzas.Capas.Servicios.SessionManager.Instancia != null)
                        { %>
                    <li><a href="Cambiar-Contraseña.aspx">Cambiar Contraseña</a></li>
                    <li>
                        <asp:Button runat="server" OnClick="LogoutBtn_Click" ID="LogoutBtn" Text="Cerrar Sesión" class="btn-logout" CausesValidation="false" /></li>
                    <% } %>
                </ul>

                <div class="nav-toggle" id="mobile-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </nav>
        </header>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <footer>
            <hr />
            <br />
            <p>&copy; <%: DateTime.Now.Year %> - Vital Pet</p>
        </footer>
    </form>
</body>
</html>
