<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="FGF_Finanzas.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>VitalPet</title>

    <link href="Content/Estilos.css" rel="stylesheet" />
    <script src='<%= ResolveUrl("~/Scripts/scripts.js?v=" + DateTime.Now.Ticks) %>' type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">

        <header>
            <nav class="navbar">

                <div class="navbar-logo">
                    <img src="Content/logoVitalPet.png" class="logoVitalPet" alt="Logo" />
                    <a href="/Default.aspx">VitalPet</a>
                </div>

                <ul class="navbar-menu" id="nav-menu">
                    <li>
                        <asp:HyperLink runat="server" ID="lnkLogin" NavigateUrl="/Login.aspx" Text="Iniciar sesión" /></li>
                    <li>
                        <asp:HyperLink runat="server" ID="lnkRegistro" NavigateUrl="/Registrarse.aspx" Text="Registrarse" /></li>
                    <li id="Admin" runat="server">
                        <asp:HyperLink runat="server" ID="lnkAdmin" NavigateUrl="Gestion-Usuarios.aspx" Text="Administrador" /></li>
                    <li id="Cliente" runat="server">
                        <asp:HyperLink runat="server" ID="lnkMascotas" NavigateUrl="RegistrarMascotas.aspx" Text="Mis mascotas" /></li>
                    <li id="WebMaster" runat="server">
                        <asp:HyperLink runat="server" ID="lnkWebMaster" NavigateUrl="Backup-Restore.aspx" Text="Web Master" /></li>

                    <% if (FGF_Finanzas.Capas.Servicios.SessionManager.Instancia != null)
                        { %>
                    <li>
                        <asp:HyperLink runat="server" ID="lnkCambiarPass" NavigateUrl="Cambiar-Contraseña.aspx" Text="Cambiar Contraseña" /></li>
                    <li>
                        <asp:Button runat="server" OnClick="LogoutBtn_Click" ID="LogoutBtn" Text="Cerrar Sesión" class="btn-logout" CausesValidation="false" />
                    </li>
                    <% } %>
                    <li class="idioma-menu-css">
                        <details class="idioma-dropdown" id="detailsIdioma">
                            <summary class="idioma-boton-actual">
                                <img src="Content/mundo.png" alt="Idioma" class="icono-mundo" />
                                <asp:Label runat="server" ID="lblIdiomaSeleccionado" Text="Idioma" />
                                <span class="flechita">&#9662;</span>
                            </summary>

                            <ul class="idioma-sublista">
                                <asp:Repeater runat="server" ID="rptIdiomas" OnItemCommand="rptIdiomas_ItemCommand">
                                    <ItemTemplate>
                                        <li>
                                            <asp:LinkButton runat="server"
                                                CommandName="CambiarIdioma"
                                                CommandArgument='<%# Eval("Codigo") %>'
                                                CausesValidation="false">
                            <%# Eval("Nombre") %>
                                            </asp:LinkButton>
                                        </li>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </ul>
                        </details>
                    </li>
                </ul>

                <div class="nav-toggle" id="mobile-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </header>

        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <footer>
            <hr />
            <br />
            <p>&copy; <%: DateTime.Now.Year %> - Vital Pet</p>
        </footer>
    </form>
    <script>
    document.addEventListener('click', function (e) {
        var dropdown = document.getElementById('detailsIdioma');
        if (dropdown && !dropdown.contains(e.target)) {
            dropdown.removeAttribute('open');
        }
    });
</script>
</body>
</html>
