* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

#form1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: #81C4DE;
    width: 100%;
    z-index: 1000;
}

.body-content {
    flex: 1;
    padding: 40px 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoVitalPet {
    height: 40px;
    width: auto;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0F1647;
    font-size: 16px;
}

.btn-logout {
    border: none;
    background: transparent;
    color: #0F1647;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

    .nav-toggle span {
        width: 100%;
        height: 3px;
        background-color: #0F1647;
        transition: all 0.3s ease;
    }
footer{
    text-align:center;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #81C4DE; 
        padding: 20px;
        gap: 20px;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }
        .navbar-menu.active {
            display: flex;
        }

        .navbar-menu li {
            width: 100%;
        }
    .nav-toggle {
        display: flex;
    }

}
